{% extends "layout.html" %}
{% block content %}
    <div class="container">
                <table id="table"
                    data-toggle="table"
                    data-filter-control="true"
                    data-show-search-clear-button="true"
                    data-sortable="true"
                    classes="table-sm"
                    data-pagination="true"
                    data-show-columns="true"
                    data-show-columns-toggle-all="false"
                    class="table-responsive">
                    <thead>
                        <tr>
                            <!--special characters and spaces not allowed in data-field name-->
                            <th data-field="columnA" data-filter-control="input" data-sortable="true">Rank</th>
                            <th data-field="columnB" data-filter-control="input" data-sortable="true">Email ID</th>
                            <th data-field="columnC" data-filter-control="input" data-sortable="true">Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in items %}
                        <tr>
                            <!--special characters and spaces not allowed in data-field name-->
                            <td>{{ row.ID }}</td>
                            <td>{{ row.Name }}</td>
                            <td>{{ row.Rank }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
    </div>
{% endblock content %}